!!!
%html
  %head
    %title KuduUI Javascript Test Suite
    
    = sprockets_include_tag 'yoo_ay_deps'
    = sprockets_include_tag 'yoo_ay'
    
    = stylesheet_link_tag 'http://code.jquery.com/qunit/git/qunit.css'
    = javascript_include_tag "http://code.jquery.com/qunit/git/qunit.js"
    
    :javascript
      #{@javascript_test.content}  
    
  %body
    %h1#qunit-header QUnit example
    %h2#qunit-banner
    #qunit-testrunner-toolbar
    %h2#qunit-userAgent
    %ol#qunit-tests
    #qunit-fixture
    #sandbox